* {
  margin: 0;
  padding: 0;
  color: (var(--main-font-color));
}

p {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-font-color: #555;
  --main-bg: #e6dbc9;
  --highlight-color: #dcae1d;
  --dark-highlight-color: #a18117;
}

body {
  overflow-x: hidden;
  font-family: "Grandstander", sans-serif;
  background: var(--main-bg);
  color: var(--main-font-color);
}

.span-highlight {
  color: var(--highlight-color);
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(400px);
}

.selected {
  color: var(--highlight-color);
}
ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-font-color);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 10px;
  z-index: 3;
}

.navbar ul {
  display: flex;
  width: 750px;
  justify-content: space-evenly;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.navbar .logo-name {
  font-weight: 600;
  font-family: "Dawning of a New Day", cursive;
  font-size: 2rem;
  z-index: 2;
  color: var(--highlight-color);
}

.navbar .logo-name a {
  z-index: 6;
  transition: 1s;
}

.main {
  display: flex;
  height: 100vh;
  position: fixed;
  z-index: 3;
  width: 120px;
}

/* mail side bar */

.mail-bar {
  display: flex;
  top: 5%;
  height: 100vh;
  width: 120px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mail-icon{
  transition: 1s;
}

.mail-icon:hover {
  color: var(--highlight-color);
  transition: 1s;
  z-index: 5;
}

.linkedin-icon{
  transition: 1s;
}

.linkedin-icon:hover{
  color: var(--highlight-color);
  transition: 1s;
  z-index: 5;
}
.mail-space {
  width: 20px;
  height: 30px;
}

.mail-bar-1,
.mail-bar-2 {
  background: var(--main-font-color);
  height: 38vh;
  width: 1px;
}

.content-container{
  position: relative;
  height: 100vh;
  top: 90px;
  left: 130px;
  height: calc(100vh - 170px);
  width: calc(100vw - 200px);
}

.main-content-container{
  position: relative;
  height: 100vh;
  top: 70px;
  left: 200px;
  height: calc(100vh - 170px);
  width: calc(100vw - 250px);
}

.main-container{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
}

.main-text h1{
  font-weight: 900;
  font-size: 6.6rem;
  letter-spacing: 0.2rem;
  }

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
}

.content h1 {
  position: fixed;
  font-weight: 800;
  font-size: 6rem;
  left: 20%;
  bottom: 50%;
  letter-spacing: 0.2rem;
}

.aboutMe {
  position: absolute;
  background: #fff;
  border-radius: 20px;
  padding: 60px 70px;
  font-weight: 300;
  line-height: 1.9rem;
  text-align: left;
}

.content-AboutMe h1 {
  position: absolute;
  font-weight: 800;
  font-size: 5rem;
  left: 15%;
  top: 13%;
  letter-spacing: 0.2rem;
}

.projects-text h1{
  font-weight: 800;
  font-size: 5rem;
}

.content h1 span, .animate h1 span{
  position: relative;
  display: inline-block;
  animation-name: animate;
  animation-duration: 4s;
  animation-delay: -1.4s;
}



/* Emily animation */

@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  60% {
    transform: translateY(0px) rotate(360deg);
  }
  100% {
    transform: translate(0px) rotate(360deg);
  }
}

.animate h1 span:nth-child(1)  {
  animation-delay: -1.4s;
}
.animate h1 span:nth-child(2) {
  animation-delay: -1.35s;
}
.animate h1 span:nth-child(3) {
  animation-delay: -1.3s;
}
.animate h1 span:nth-child(4) {
  animation-delay: -1.25s;
}
.animate h1 span:nth-child(5) {
  animation-delay: -1.2s;
}
.animate h1 span:nth-child(6) {
  animation-delay: -1.15s;
}
.animate h1 span:nth-child(7) {
  animation-delay: -1.1s;
}
.animate h1 span:nth-child(8) {
  animation-delay: -1.05s;
}
.animate h1 span:nth-child(9) {
  animation-delay: -1s;
}
.animate h1 span:nth-child(10)  {
  animation-delay: -0.95s;
}
.animate h1 span:nth-child(11)  {
  animation-delay: -0.9s;
}
.animate h1 span:nth-child(12)  {
  animation-delay: -0.85s;
}

.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}

.navbar a {
  color: var(--main-font-color);
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  overflow: hidden;
  transition-delay: 0.5s;
  transition: 1s;
  z-index: 10;
}

.navbar a:hover {
  color: var(--highlight-color);
  transition: 1s;
  z-index: 10;
}

.navbar a span {
  position: absolute;
  display: block;
}

.navbar a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background: var(--main-font-color);
}

.navbar a:hover span:nth-child(1) {
  left: 0%;
  background: var(--highlight-color);
  transition: 0.6s;
}
.navbar a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 1px;
  background: var(--main-font-color);
}

.navbar a:hover span:nth-child(3) {
  right: 0%;
  background: var(--highlight-color);
  transition: 0.6s;
}

.navbar-animation,
.main-animation {
  animation: 1.9s ease-in 0s 1 navbarAnimation;
}

@keyframes navbarAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-animate-in {
  animation: 1s ease-in 0s 1 headerAnimation;
}
@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* projects */

.container-projects{
  position: relative;
  height: calc(100vh - 210px);
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.first-row, .second-row{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project{
  margin: 3px;
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 10px;
}


.project-1{
  width: 33.33%;
  background-image: url('./img/flight_analyzer.png');
  background-color: #fff;
}
.project-2{
  width: 33.33%;

  background-image: url('./img/job_skills_data_sorting.png');
  background-color:  #151525;;
}

.project-3{
  width: 33.33%;
  background-image: url('./img/hexagon_pathfinder.png');
  background-color: #fff;
}
.project-4{
  background-image: url('./img/job_data_api.png');
  /* background-color: url('./img/scott-webb-OxHPDs4WV8Y-unsplash\ copy.jpg') */
  background-color: rgba(120,120, 120, 0.9);
}
.project-5{
  background-image: url("./img/conways_game_of_life.png");
  background-color:#0b0c10;
  /* linear-gradient(#1f2833, #0b0c10); */
}

.project-text{
  display: flex;
  height: 100%;
  width: 90%;
  flex-direction: column;
  opacity: 1;
  color:#fff;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  transition: 1s;
}

.project-underline{
  width: 100%;
  height: 1px;
  background: #fff;
}

.highlight-color{
  color:var(--highlight-color)
}

.project-text a {
  text-decoration: none;
  transition: 1s;
}

.project-text a:hover {
 color: var(--dark-highlight-color);
 transition: 1s;
}

.overlay{
  background: rgba(51, 51, 51, 0.87);
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 10px;
}

.overlay:hover .hover-text{
  background: rgba(0,0, 0, 0.1);
  opacity: 0;
  transition: 1s;
}

.overlay:hover{
   background: rgba(0, 0, 0, 0)
}

.tags {
  font-size: 1.4rem;
}

@media(max-width:1000px){
  .navbar ul{
    width: 700px;
  }
  .main-text h1{
    font-size: 5rem;
  }
  .projects-text h1{
    font-size: 4rem;
  }
  .aboutMe {
  line-height: 1.5rem;
  font-size: .9rem;
  }
  .tags {
    font-size: 1rem;
  }
  .project-text {
    font-size: .85rem;
  }
}

@media (max-width: 760px){
  .main-text h1{
    font-size: 2rem;
  }
  .navbar h1{
    /* height: 100%; */

  }
  .navbar ul {
    width: 300px;
    font-size: .7rem;
    flex-direction: column;
    /* height: 200px; */
    width: 100%;
    text-align: right;
  }
  .navbar {
    height: 130px;
    align-items: center;
    justify-content: space-between;
  }

  .mail-bar {
    /* background: red; */
    flex-direction: row;
    /* top: 0; */
    /* left: 0; */
    /* top: 200px; */
    height: 25px;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
  }

.mail-bar-1,
.mail-bar-2 {
  /* background: red; */
  background: var(--main-font-color);
  width: 37vw;
  height: 1px;
}

.main {
  top: 120px;
  width: 100%;
  height: 25px;
  left: 0;
}
.mail-space {
  /* left: -5%; */
  width: 0px;
  height: 0px;
}
.main-content-container{
  /* background: red; */
  /* top: 0px; */
  left: 5px;
  height:(100vh - 200px);
  width: 100vw;
  text-align: center;
}
.main-container {
  justify-content: center;
}

.projects-text h1{
  font-size: 1.7rem;
}
.content-container{
  top: 150px;
  height: calc(100vh - 200px);
  width: 90vw;
  left: 0;
  margin: 0 auto;
}
.aboutMe{
  padding: 10px 10px;
  border-radius: 10px;
  font-size: .65rem;
  line-height: .9rem;
}

.container-projects{
  height: calc(100vh - 200px);
  width: 90vw;
  margin: 0 auto;
  left: 0;
  /* margin: 0; */
}
.tags {
  font-size: .55rem;
}
.project-text {
  font-size: .5rem;
  /* margin: 0; */
}
.project {
  margin: 1px;
}
.first-row {
  height: 66%;
}
.second-row {
  height: 34%;
  width: 98%;
}
.first-row {
  flex-wrap: wrap;
}
.project-2, .project-3{
  width: 49%;
}
.project-1{
  width: 98%;
/* .main-content-container h1 {
  text-align: center;
} */

}
}
